<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
    <sitecore>
        <services>
            <configurator type="Foundation.ScribanExtensions.DI.Configurator, Foundation.ScribanExtensions" />
        </services>
        <pipelines>
            <generateScribanContext>
                <processor type="Foundation.ScribanExtensions.Pipelines.BeginEndFieldProcessor, Foundation.ScribanExtensions" resolve="true" />
            </generateScribanContext>
        </pipelines>
    </sitecore>
</configuration>